# IDE
.idea
.vscode

# Virtual environments
.venv
venv

# Logs
logs/

# Data files
*.csv
**/downloads/*

# Secrets
.env
/postgres_helpers/app_config_secret.py

# Build artifacts
build
dist
*.egg-info
.eggs

# Tests
.pytest_cache
*.pyc
__pycache__/

# Coverage
.coverage
htmlcov/